{% extends 'base.html' %} {% block content %}
<div class="container">
  {% for idx in home_obj_ls %}
  <div class="media mb-2 mt-2">
    <img class="mr-3" src="{{idx.new_intro_pic.url}}" alt="" width="20%" />
    <div class="media-body">
      <h5 class="mt-0"><a href="">{{idx.new_name}}</a></h5>
      <ul>
        <li>
          <div>Author: <a href="">{{idx.new_author}}</a></div>
        </li>
        <li>
          <div>Count: {{idx.new_count}}</div>
        </li>
      </ul>
      {{idx.new_intro}}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}
